In [ ]:
!pip install finance-datareader

In [35]:
import FinanceDataReader as fdr
import pandas as pd
from tqdm import tqdm

In [24]:
sub = pd.read_csv('/content/sample_submission.csv')

In [28]:
sss = pd.DataFrame(index=range(0,2000),columns=['종목코드','score'])

In [ ]:
name_2000 = sub['종목코드'].unique()
idx = 0
for code in tqdm(name_2000):
    code = code[1:]
    df = fdr.DataReader(code, '20230531','20230621')
    df['target'.format(1)] = df['Close'].shift(-1)
    df['target'.format(1)].fillna(method='bfill',inplace=True)
    df['score'] = (df['target']-df['Close'])/df['Close']
    score = sum(df.iloc[:-1,7])
    sss.iloc[idx,0] = code
    sss.iloc[idx,1] = score
    idx += 1

In [38]:
sss.to_csv('파일명.csv', index = False)

In [41]:
sss['rank'] = sss['score'].rank(method='first')

In [43]:
sss.to_csv('파일명.csv', index = False)

In [46]:
sss['rank'].nunique()

2000

In [47]:
sss['score'].nunique()

1959

In [19]:
df # 시가, 고가, 저가, 종가, 거래량, 전일대비 데이터

            Open  High   Low  Close  Volume    Change  target     score
Date
2023-05-31  4330  4360  4240   4255  209572 -0.017321  4300.0  0.010576
2023-06-01  4300  4320  4255   4300   97141  0.010576  4425.0  0.029070
2023-06-02  4300  4425  4300   4425  174633  0.029070  4440.0  0.003390
2023-06-05  4425  4475  4415   4440   75353  0.003390  4390.0 -0.011261
2023-06-07  4445  4465  4375   4390   66263 -0.011261  4380.0 -0.002278
2023-06-08  4345  4385  4325   4380   62426 -0.002278  4415.0  0.007991
2023-06-09  4385  4420  4365   4415   61695  0.007991  4380.0 -0.007928
2023-06-12  4415  4415  4335   4380  116535 -0.007928  4390.0  0.002283
2023-06-13  4370  4445  4370   4390   43761  0.002283  4405.0  0.003417
2023-06-14  4390  4430  4370   4405   53177  0.003417  4415.0  0.002270
2023-06-15  4420  4435  4395   4415   69287  0.002270  4680.0  0.060023
2023-06-16  4420  4695  4420   4680  406391  0.060023  4630.0 -0.010684
2023-06-19  4685  4695  4550   4630  159969 -0.010684  4545.0 -0.018359
2023-06-20  4630  4665  4525   4545   99232 -0.018359  4550.0  0.001100
2023-06-21  4545  4655  4530   4550  107668  0.001100  4505.0 -0.009890
2023-06-22  4580  4685  4480   4505  118698 -0.009890     NaN       NaN